@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

$logoFont: "Montserrat", serif;

.header {
    background-color: #f3e7db;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 16px 0px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        a {
            text-decoration: none;
        }

        &__logo {
            display: flex;
            align-items: center;

            img {
                width: 80px;
                height: auto;
                margin-right: 4px;
            }

            &__text {
                font-family: "Montserrat", serif;
                color: #8f3124;
                font-size: 24px;
                font-weight: 800;
                line-height: 36px;
            }
        }

        &__menu {
            display: flex;
            align-items: center;

            div {
                margin-left: 32px;
                color: #374151;
                font-weight: 400;
                padding: 4px 0;
                cursor: pointer;
                text-align: center;

                &:hover {
                    border-bottom: 2px solid #8f3124;
                    color: #8f3124;
                    font-weight: 600;
                }

                &.active {
                    border-bottom: 2px solid #8f3124;
                    color: #8f3124;
                    font-weight: 600;
                }
            }

            @media (max-width: 1343px) {
                display: none; /* Ẩn menu ngang */
                position: fixed;
                top: 0;
                right: 0;
                height: 100vh;
                width: 250px;
                background: #f3e7db;
                flex-direction: column;
                padding: 20px;
                transform: translateX(100%);
                transition: transform 0.3s ease-in-out;

                &.menu-open {
                    transform: translateX(0); /* Hiển thị menu */
                    display: flex;
                }

                div {
                    margin: 16px 0; /* Khoảng cách giữa các mục */
                }
            }
        }

        &__res {
            display: none;
            font-size: 24px;
            color: #8f3124;
            cursor: pointer;

            @media (max-width: 1343px) {
                display: flex; /* Hiển thị icon bar */
            }
        }
    }
}
