@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

//RedMode-
$RedMode-Back-color: #FFFFFF;
$RedMode-Text-color: #374151;
$RedMode-Title-color: #991B1B;
$RedMode-Disc-color: #EEE;
$RedMode-Back2-color: #FEF2F2;
$RedMode-Question-background: #FEF2F2;
$RedMode-Question-color: #F66E5B;

//GreenMode-
$GreenMode-Back-color: #D4E0BD;
$GreenMode-Text-color: #374151;
$GreenMode-Title-color: #1D5136;
$GreenMode-Disc-color: #374151;
$GreenMode-Back2-color: #1D5136;
$GreenMode-Question-background: #FEF2F2;
$GreenMode-Question-color: #D7EC84;

//BlueMode
$BlueMode-Back-color: #F3E7DB;
$BlueMode-Text-color: #374151;
$BlueMode-Title-color: #374151;
$BlueMode-Disc-color: #374151;
$BlueMode-Back2-color: #6F8083;
$BlueMode-Question-color: #57A6B4;
$BlueMode-Question-background: #FEF2F2;

//BrownMode
$brownMode-Back-color: #E3DAD2;
$brownMode-Text-color: #374151;
$brownMode-Title-color: #4C3932;
$brownMode-Disc-color: #374151;
$brownMode-Back2-color: #4C3932;
$brownMode-Question-background: #FEF2F2;
$brownMode-Question-color: #C16746;

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

iframe{
    margin: 0px !important;
}

.container{
    padding: 0px 240px;
    display: flex;
    width: 100%;
}

.infographic{
    padding: 40px 400px;
}

@media (max-width: 1200.98px){
    .container{
        padding: 0px 120px;
    }
    .infographic{
        padding: 16px;
    }
}
@media (max-width: 868.98px){
    .container{
        padding: 0px 16px;
    }
    .infographic{
        padding: 16px;
    }
}
@media (max-width: 661.98px){
    body{
        font-size: 15px !important;
    }
}

body{
    font-family: "Inter", serif;
    font-size: 18px;

    label{
        cursor: pointer !important;
    }

    .redMode{
        color: $RedMode-Text-color;
        background-color: $RedMode-Back-color;

        div{
            line-height: 150% !important; /* 27px */
            text-align: justify;
        }
        ul{
            line-height: 150% !important; /* 27px */
            text-align: justify;
        }
        li{
            line-height: 150% !important; /* 27px */
            text-align: justify;
        }
    }
    .blueMode{
        color: $BlueMode-Text-color;
        background-color: $BlueMode-Back-color;
        
        div{
            line-height: 150% !important; /* 27px */
            text-align: justify;
        }
        ul{
            line-height: 150% !important; /* 27px */
            text-align: justify;
        }
        li{
            line-height: 150% !important; /* 27px */
            text-align: justify;
        }
    }
    .greenMode{
        color: $GreenMode-Text-color;
        background-color: $GreenMode-Back-color;
        
        div{
            line-height: 150% !important; /* 27px */
            text-align: justify;
        }
        ul{
            line-height: 150% !important; /* 27px */
            text-align: justify;
        }
        li{
            line-height: 150% !important; /* 27px */
            text-align: justify;
        }
    }
    .brownMode{
        color: $brownMode-Text-color;
        background-color: $brownMode-Back-color;
        
        div{
            line-height: 150% !important; /* 27px */
            text-align: justify;
        }
        ul{
            line-height: 150% !important; /* 27px */
            text-align: justify;
        }
        li{
            line-height: 150% !important; /* 27px */
            text-align: justify;
        }
    }
}
